body {
    background-color: #FFF3E2;
    margin: 0;
}

main {
    height: 100vh;
}

h1 {
    margin: 0;
    font-size: 4rem;
    font-family: 'Lobster', cursive;
    text-shadow: 1px 1px 3px black;
    color: #FFE194;
}

.container {
    display: flex;
    align-items: center;
}

.container.column {
    flex-direction: column;
}

.container.space-even {
    justify-content: space-evenly;
}

.container.center {
    justify-content: center;
}

.container.wrap {
    flex-wrap: wrap;
}

#etchasketch {
    height: 820px;
    width: 820px;
    background-color: #D21312;
    border-radius: 12px;
    border-top: 15px outset #D21312;
    border-right: 15px solid #FF7A7A;
    border-bottom: 15px outset #D21312;
    border-left: 15px solid #FF7A7A;
    box-shadow: 0px 10px 20px 0px black;
}

#title {
    flex: 1;
}

#screen {
    height: 600px;
    width: 600px;
    padding: 10px;
    background-color: white;
    border-radius: 25px;
    border: 3px solid #A70000;
    box-shadow: inset 0px 5px 15px 0px black;
}

.row {
    display: flex;
    flex: 1;
    width: 100%;
}

.cell {
    flex: 1;
    transition: all 250ms linear;
}

.cell.hovered {
    background-color: gray;
}

#bottom { 
    flex: 1;
    width: 100%;
    justify-content: center;
    gap: 600px;
}

.knob {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 5px 15px 0px black,
                inset 0px 0px 3px 0px black;
}