body {
    background-color: #FFF3E2;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

main {
    height: 100vh;
}

h1 {
    margin: 0;
    font-size: 4rem;
    font-family: 'Lobster', cursive;
    text-shadow: 1px 1px 3px black;
    color: #FFE194;
}

.container {
    display: flex;
    align-items: center;
}

.container.column {
    flex-direction: column;
}

.container.space-even {
    justify-content: space-evenly;
}

.container.center {
    justify-content: center;
}

.container.wrap {
    flex-wrap: wrap;
}

#etchasketch {
    height: 820px;
    width: 820px;
    background-color: #D21312;
    border-radius: 12px;
    border-top: 15px outset #D21312;
    border-right: 15px solid #FF7A7A;
    border-bottom: 15px outset #D21312;
    border-left: 15px solid #FF7A7A;
    outline: 2px solid #D21312;
    box-shadow: 0px 10px 20px 0px black;
}

#etchasketch.shake {
    animation: shake 800ms ease-out;
}

#title {
    flex: 1;
    gap: 25px;
}

#title > span {
    font-size: 1.5rem;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    text-shadow: 1px 1px 3px black;
    color: #FFE194;
}

#screen {
    height: 600px;
    width: 600px;
    padding: 10px;
    background-color: #E9E8E8;
    border-radius: 25px;
    box-shadow: inset 0px 5px 15px 0px black;
}

.row {
    display: flex;
    flex: 1;
    width: 100%;
}

.cell {
    flex: 1;
    transition: all 150ms linear;
}

.cell.hovered {
    background-color: gray;
}

#bottom { 
    flex: 1;
    width: 100%;
    justify-content: center;
    gap: 600px;
}

.knob {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 5px 15px 0px black,
                inset 0px 0px 3px 0px black;
}

#options {
    flex-wrap: wrap;
    font-size: 1.25rem;
    width: 30vw;
}

#slider, #penchoice {
    margin: 5px;
    gap: 15px;
}

#slider {
    flex: 2 0 350px;
}

#penchoice {
    flex: 1 0 250px;
}

.slider {
    flex: 0 1 50%;
    appearance: none;
    background: #FFE5CA;
    border-radius: 10px;
    height: 40px;
    padding: 5px 20px;
    box-shadow: 2px 2px 6px black,
    -2px -2px 6px white;
}

.slider::-webkit-slider-runnable-track,
.slider::-moz-range-track {
    background: #FFF3E2;
    border-radius: 10px;
    height: 10px;
    box-shadow: inset 2px 2px 5px  black,
    inset -2px -2px 5px white;
}

.slider::-webkit-slider-thumb, 
.slider::-moz-range-thumb {
    appearance: none;
    border: none;
    height: 25px;
    width: 25px;
    border-radius: 25px;
    background: white;
    box-shadow: 1px 1px 2px black,
    1px 1px 2px white;  
}

.black, .rainbow {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    transition: all 200ms ease;
}

.black {
    background-color: grey;
}

.rainbow {
    background: linear-gradient(-45deg,blue,blue,green,yellow,orange,red,red);
}

.black:hover, .rainbow:hover {
    transform: scale(1.20);
}

.black.selected, .rainbow.selected {
    transform: scale(1.20);
    border: 2px solid #2C3333;
}

@keyframes shake {
    0%  { transform: translate(0px, 0px) rotate(0deg); }
    15% { transform: translateX(40px) rotate(10deg); }
    30% { transform: translateX(-20px) rotate(-8deg); }
    45% { transform: translateX(10px) rotate(4deg); }
    60% { transform: translateX(-5px) rotate(-2deg); }
    75% { transform: translateX(2px) rotate(1deg); }
    100%{ transform: translateX(0px) rotate(0deg); }

}